<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .content {
            max-width: 1000px;
            margin: auto;
            padding: 20px;
        }
        .content-table {
            border-collapse: collapse;
        }

        .content-table tr:hover {
            background-color: #f5fffa;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Bleu</title>
    {% block style %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
